<h1>Battleship</h1>
<p>You know the rules! Click on link to play!</p>
<% if @boards > 1 %>
	<%= link_to "Play!", games_path, :method => :post %>
<% else %>
	<%= link_to "Play!", new_game_board_path(@game.id) %>
<% end %>
