<p> Battleship </p>
<table>
	<thead>
		<th> My Ship</th>
	</thead>
	<tbody>
		<tr>
			<td><%= render 'defend' %></td>
			<% if @board.ships.count > 4 %>
				<td><%= render 'attack' %></td>
			<% end %>
		</tr>
		<tr>
			<% if @board.ships.count < 5 %>
				<td><%= render 'form' %></td>
			<% else %>
				<td><%= render 'missle' %></td>
			<% end %>
		</tr>
	</tbody>
</table>

