<p> Battleship </p>
<table>
	<thead>
		<th> My Ship</th>
	</thead>
	<tbody>
		<tr>
			<td><%= render 'defend' %></td>
			<% if (@board.ships.count > 4) && (@game.ships.count > 9) %>
				<td><%= render 'attack' %></td>
			<% else %>
				<td><p>Waiting for Opponent</p></td>
			<% end %>
		</tr>
		<tr>
			<% if @board.ships.count < 5 %>
				<td><%= render 'form' %></td>
			<% elsif (@game.ships.count > 9) && (@board.my_turn) %>
				<td><%= render 'missle' %></td>
			<% elsif (@game.ships.count > 9) && (@board.my_turn == false) %>
				<td><p> It's your opponent's turn </p></td>
			<% else %>
				<td><p>Waiting for Opponent</p><td>
			<% end %>
		</tr>
	</tbody>
</table>

